* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.blue {
    background-color: #1f2937;
}

.page-center {
    max-width: 1200px;
    padding: 64px 256px;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
} 

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.header-links {
    display: flex;
}

li {
    list-style: none;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.section-content {
    display: flex;
    color: #f9faf8;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-text-main {
    font-size: 48px;
    font-weight: 900;
}

.hero-text-sub {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-button {
    background-color: #3882f6;
    color: #f9faf8;
}

/* SECTION 1 */

.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-1-heading {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.section-1-content {
    display: flex;
}

.section-1-image {
    height: 100px;
    width: 100px;
}

.image-illustration {
    display: flex;
    flex-direction: column;
}

.illustration {
    font-size: 18px;
    color: #1f2937;
}

/* Section 2 */
.grey {
    background-color: #e5e7eb;
}

.section-2-content {
    display: flex;
    flex-direction: column;
}

.section-2-quote {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    color: #1f2937;
}

.section-2-by {
    font-weight: bold;
}

/* Section 3 */
.section-3-content {
    background-color: #3882f6;

    display: flex;
    justify-content: space-between;
}

.section-3-text {
    display: flex;
    flex-direction: column;

    color:#f9faf8;
}

.cta-heading {
    font-weight: bold;

}

.section-3-button {
    background-color: #3882f6;
    color: #f9faf8;
    border-color: #f9faf8;
}

/* footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    color:#f9faf8;
    
}